{% extends "base.html" %}
{% block title %}lynx's tales{% endblock %}

{% block body %}
  <div style="max-width: 550px; margin: 0 auto">
    <h1>hello traveller</h1>
    <p>you're allowed to browse here</p>

    {% for post in posts %}
      <article>
        <h2><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p>{{ post.content[:250] }}{% if post.content|length > 250 %}...{% endif %}</p>
        <p><a href="{{ url_for('post', post_id=post.id) }}">read more</a></p>
        <p><em>posted on {{ post.date_posted.strftime('%Y-%m-%d') }}</em></p>
        <p>tags: {{ post.hashtags }}</p>
        <hr>
      </article>

    {% else %}
      <p><em>check back later</em></p>
    {% endfor %}

    <p><a href="{{ url_for('about') }}">meet-and-greet == 'about me'</a> </p>
    <p><a href="{{ url_for('create_post') }}">if yulilynx: create a new tale</a></p>
  </div>
{% endblock %}
